# Ambiente
.env
.venv/

# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Streamlit
.streamlit/

# Dados gerados
data/corrigidas/
data/tmp/

# IDE
.vscode/

# Banco local
*.sqlite3
*.db

# Sistema
.DS_Store
Thumbs.db